@import '~normalize.css';
@import './variables.scss';
@font-face {
  font-family: Museo;
  src: url('./assets/fonts/MuseoSans_500.otf');
}

body {
  margin: 0;
  font-family: Museo, 'sans-serif';
}

h1, h3, h4, p {
  margin: 0;
}

p {
  line-height: 2rem;
}

.primary-button {
  display: flex;
  font-family: inherit;
  font-size: 1.5rem;
  align-items: center;
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: #00a6b6;
  transition: 0.1s linear;
  cursor: pointer; //Esse botão requer pointer, pois não se parece um botão

  &:hover {
    transform: scale(1.01);
  }

  img {
    width: 10%;
  }
}

.paragraph {
  &--primary {
    color: #4f5458
  }

  &--secundary {
    color: #918f96; 
  }
}


.standard-link {
  color: #00a6b6;
  margin: 0;
  text-decoration: none;
  font-size: inherit;
  font-size: 1.2rem;
}