<header class="home-header">
  <img
    src="./../../assets/images/header-image.png"
    alt="Time do Elo7 reunido"
  />
  <h1>Trabalhe no Elo7</h1>
</header>

<div class="main-container">
  <section class="main-container__top-text-container">
    <p class="paragraph--primary">
      O Elo7 é o maior site de produtos autorais do Brasil. Formamos a maior
      comunidade de vendedores criativos e buscamos fomentar o comércio de
      produtos autorais. Muito mais que um site, o Elo7 nasceu em 2008 com a
      missão de <strong>transformar a vida das pessoas</strong> através de um
      <strong>ambiente humanizado</strong> de compra e venda
      <strong>que conecta e inspira</strong>, conferindo significado a cada
      transação realizada. Trabalhamos para desenvolver as melhores tecnologias
      e oferecer aos vendedores soluções simples e práticas para o gerenciamento
      de suas vendas e para os compradores, uma experiência de compra fora de
      série.
    </p>
    <hr />
    <button
      type="button"
      (click)="scrollToElement(target)"
      class="primary-button"
    >
      <span>VAGAS EM ABERTO</span>
      <img
        src="./../../assets/icons/double-arrow-icon.svg"
        alt="Redirecionar para vagas em aberto"
      />
    </button>
  </section>
  <section class="main-container__ceo-area-container">
    <img src="./../../assets/images/video-placeholder.png" />
    <div class="main-container__ceo-words-container">
      <div class="main-container__ceo-words-title">
        <h3>PALAVRA DO CEO</h3>
        <h4>Carlos Curioni</h4>
      </div>
      <div class="main-container__ceo-words-paragraph">
        <p class="paragraph--primary">
          "Esse contato (entre comprador e vendedor de artesanatos) é
          fundamental, ele gera um link em cada transação. A gente costuma dizer
          que cada venda nossa tem uma história, porque é um item que foi
          customizado, ele foi personalizado, ele participou de um evento
          especial na vida do comprador. É um batizado, é um aniversário... Todo
          o cuidado no processo de venda gera um senso de comunidade."
        </p>
      </div>
    </div>
  </section>
  <section class="main-container__meet-team-container">
    <h3>CONHEÇA NOSSO TIME<br />FORA DE SÉRIE</h3>
    <div class="main-container__members-images-container">
      <div
        class="main-container__unitary-member-image"
        *ngFor="let member of teamMembers"
      >
        <img [src]="member.url" alt="Foto de {{ member.name }}" />
        <p class="paragraph--secundary">{{ member.name }}</p>
      </div>
    </div>
  </section>
  <section class="main-container__company-characteristics">
    <div class="main-container__characteristics-cards">
      <div class="main-container__unitary-characteristic-card">
        <img src="./../../assets/icons/quality-icon.png" />
        <h3>QUALIDADE DE VIDA</h3>
        <p class="paragraph--secundary">
          Não somente um ambiente humanizado apenas para compra e venda de
          produtos criativos, mas também para toda a nossa equipe. Somos uma
          empresa <strong>#foradeserie</strong>, então nos comprometemos com a
          construção de um ambiente de trabalho diverso e dinâmico, dando espaço
          de desenvolvimento a todos. Visamos sempre a criatividade, a
          colaboração, a Tecnologia e a Inovação.
        </p>
      </div>
      <div class="main-container__unitary-characteristic-card">
        <img src="./../../assets/icons/relaxation-icon.png" />
        <h3>AMBIENTE DESCONTRAÍDO</h3>
        <p class="paragraph--secundary">
          Seja no escritório, ou remotamente, nossa equipe trabalha em sintonia.
          Melhor que isso, prezamos por um ambiente de trabalho mais leve e
          descontraído, mas sem deixar o importante de lado. Essa característica
          nos garante mais autenticidade, espontaneidade e mais conexão,
          fortalecendo nosso trabalho em equipe. Nada melhor que um ambiente
          desses, não?
        </p>
      </div>
      <div class="main-container__unitary-characteristic-card last-card">
        <img src="./../../assets/icons/activities-icon.png" />
        <h3>ATIVIDADES EXTRAS</h3>
        <p class="paragraph--secundary">
          Como nossa cultura é pautada nos nossos principais valores:
          Criatividade, Colaboração, Tecnologia e Inovação. Aplicamos tudo isso
          em nossas atividades extras, como rodas de conversas sobre diversos
          temas, Programa de Inserção a Cultura, feedbacks constantes, Tech Talks semanais, entre
          outros. Nesses momentos, colocamos em prática tudo aquilo que nos torna <strong>extremamente criativos</strong>!
        </p>
      </div>
    </div>
    <hr />
    <button type="button" (click)="redirectToElo7Page()" class="primary-button">
      <span>SAIBA MAIS</span>
      <img
        src="./../../assets/icons/double-arrow-icon.svg"
        alt="Redirecionar para o saiba mais"
      />
    </button>
  </section>
  <section class="main-container__open-jobs-container">
    <div class="main-container__open-jobs-header" #target>
      <img src="./../../assets/images/bottom-image.png" />
      <h3>VAGAS EM ABERTO</h3>
    </div>
    <div class="main-container__centralized-open-jobs">
      <div class="main-container__jobs-subtitle">
        <h3>DESENVOLVIMENTO</h3>
      </div>
      <div class="main-container__open-jobs-cards">
        <div
          class="main-container__active-open-jobs"
          *ngFor="let job of activeOpenJobs"
        >
          <a 
            class="standard-link" 
            [href]="job.link" 
            title="Abrir link da vaga"
            target="_blank"
          >
            {{ job.position }}
          </a>
          <p class="paragraph--secundary">
            {{ job.formatedLocation ? job.formatedLocation : 'Remoto' }}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
