h1 {
  color: #f2f1f1;
  font-size: 5rem;
  text-shadow: 4px 5px 7px rgba(0, 0, 0, 0.8);
}

h3 {
  color: #58575b;
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  color: #ffc02a;
}

p {
  font-family: inherit;
  font-size: 1.2rem;
}

hr {
  margin: 1.5rem 0 1.5rem 0;
  width: 30%;
  color: #dddd;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    position: relative;
    width: 100%;
    filter: blur(0.125rem);
  }

  h1 {
    position: absolute;
    padding-bottom: 15rem;
  }
}

.main-container {
  display: flex;
  flex-direction: column;

  &__top-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 8rem;
  }

  &__ceo-area-container {
    display: flex;
    background-color: #f0f0f0;
    align-items: flex-start;
    padding: 4rem 8rem 2rem 8rem;
    
    img {
      width: 50%;
    }
  }

  &__ceo-words-container {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    width: 40%;
  }

  &__ceo-words-title {
    display: flex;
    flex-direction: column;

    h3 {
      padding-bottom: 0.5rem;
    }
  }

  &__ceo-words-paragraph {
    padding-top: 4rem;
    text-align: justify;
  }

  &__meet-team-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem 8rem;
    font-weight: 700;
    background-color: #f0f0f0;

    h3 {
      padding-bottom: 4rem;
    }
  }

  &__members-images-container {
    display: flex;
    justify-content: space-between;
  }

  &__unitary-member-image {
    display: flex;
    flex-direction: column;
    width: 20%;

    p {
      padding-top: 1rem;
      font-size: 1.6rem;
    }
  }

  &__company-characteristics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 8rem;
  }

  &__characteristics-cards {
    display: flex;
    justify-content: space-between;
  }

  &__unitary-characteristic-card {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width: 30%;

    h3 {
      padding: 1.5rem 0;
    }

    img {
      width: 40%;
    }
  }

  &__open-jobs-container {
    display: flex;
    flex-direction: column;
    padding: 0 8rem 4rem 8rem;
    align-items: center;
  }

  &__open-jobs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
      width: 100%;
    }

    h3 {
      padding-top: 4rem;
    }
  }

  &__centralized-open-jobs {
    display: flex;
    flex-direction: column;
    width: 70%;

    h3 {
      padding: 4rem 0 1.5rem 0;
    }
  }

  &__open-jobs-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__active-open-jobs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    p, a {
      font-size: 1.6rem;
    }
  }
}
